@use 'vars';
@use 'effects';
@use 'colors';

@mixin renderCharRules() {
  display: inline-block;
  width: vars.$bigSize;
  min-height: vars.$bigSize;
  line-height: vars.$bigSize;
  text-align: center;
}

@mixin renderCharWithBorderRules() {
  display: inline-block;
  width: vars.$bigSize;
  min-height: vars.$bigSize;
  line-height: vars.$bigSize_withoutBorder;
  text-align: center;
  border-radius: vars.$borderRadius;
}

@mixin renderItemRules() {
  display: inline-block;
  position: relative;
  padding: vars.$smallSize vars.$smallSize;
  min-height: vars.$bigSize;
  &.border {
      padding: vars.$smallSize_withoutBorder vars.$smallSize_withoutBorder;
      min-height: vars.$bigSize;
      border-radius: vars.$borderRadius;
  }
  /*
  & > a {
    &:only-child {
      display: inline-block;
      margin: calc(-1 * #{vars.$smallSize}) calc(-1 * -#{vars.$mediumSize});
      padding: vars.$smallSize vars.$mediumSize;
    }
  }
  */
}

@mixin render($prefix) {

  [data-prefix] {
    position: relative;
    padding-left: vars.$bigSize !important;
    @include renderItemRules();
    &:before {
      position: absolute;
      top:0;
      left:0;
      content: attr(data-prefix);
      @include renderCharRules();
    }
  }
  [data-suffix] {
    position: relative;
    padding-right: vars.$bigSize !important;
    @include renderItemRules();
    &:after {
      position: absolute;
      top:0;
      right:0;
      content: attr(data-suffix);
      @include renderCharRules();
    }
  }
  .#{$prefix}char {
    @include renderCharRules();
  }
  [class*=border].#{$prefix}char {
    @include renderCharWithBorderRules();
  }
  .#{$prefix}item {
    @include renderItemRules();
  }
  .#{$prefix}btn {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: inline-block;
    position: relative;
    min-height: vars.$bigSize;
    padding: vars.$smallSize_withoutBorder vars.$smallSize_withoutBorder;
    border: #{vars.$border};
    border-radius: vars.$borderRadius;
    cursor: pointer;
    background-color: colors.$colorBody;
    @include effects.renderShadow(vars.$shadowSize/2);
    &:hover {
      @include effects.renderShadow(vars.$shadowSize);
    }
    &:active {
      box-shadow: none !important;
    }
  }
  .#{$prefix}btn-flat {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: inline-block;
    position: relative;
    min-height: vars.$bigSize;
    padding: vars.$smallSize_withoutBorder vars.$smallSize_withoutBorder;
    border: #{vars.$border};
    border-color: transparent;
    border-radius: vars.$borderRadius;
    cursor: pointer;
    background-color: colors.$colorBody;
    box-shadow: none;
    &:hover {
      @include effects.renderShadow(vars.$shadowSize);
      border: #{vars.$border};
    }
    &:active {
      box-shadow: none !important;
    }
  }

  .#{$prefix}item-row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width:100%;
    & * {
      flex-grow: 0;
      flex-shrink: 0;
      @include renderItemRules();
      max-height: vars.$bigSize;
      margin: 0;
    }
    & h1, & h2, & h3 {
      padding-top: 0;
      padding-bottom: 0;
      line-height: vars.$bigSize;
    }
  }
}

/*

.renderItemIcons() {

}

.renderItem() {
  position: relative;
  margin: 0;
  padding: @basicWidgetPadding @padding;
  min-height: @basicWidgetSize;
& > a {
  &:only-child {
    .renderItemIcons();
    margin: -@basicWidgetPadding -@padding;
    padding: @basicWidgetPadding @padding;
    display: block;
  }
}
}
.item {
  .renderItem();
}
.item--border {
  margin: 0;
  padding: @borderedWidgetPadding;
  border: @borderSize solid @colorBorderDefault;
  border-radius: @borderRadius;
}
.char {
  display: inline-block;
  width: @basicWidgetSize;
  line-height: @basicWidgetSize;
  text-align: center;
}

.item, .item--border {
  .renderItemIcons();
}
 */