@use 'vars';

@mixin renderAll() {
  html, .btn, .btn-flat, button {
    font-size: var(--rem);
    line-height: var(--lh);
  }
  h1, h2, h3, h4, h5 {
    font-weight: bold;
  }
  h6 {
    font-weight: normal;
  }
  h1 {
    font-size: calc(2 * #{vars.$mediumSize});
  }
  h2 {
    font-size: calc(1.5 * #{vars.$mediumSize});
  }
  h3 {
    font-size: calc(1.125 * #{vars.$mediumSize});
  }
  h4 {
    font-size: calc(1 * #{vars.$mediumSize});
  }
  h5 {
    font-size: calc(0.75 * #{vars.$mediumSize});
  }
  h6 {
    font-size: calc(0.625 * #{vars.$mediumSize});
  }
  [disabled], .disabled {
    cursor: not-allowed;
    opacity: 0.8;
  }
}

@mixin render($prefix) {
  .#{$prefix}ff-monospace, .#{$prefix}monospace {
    font-family: monospace;
  }
  .#{$prefix}fs-xxxl {
    font-size: calc(3 * #{vars.$mediumSize});
  }
  .#{$prefix}fs-xxl {
    font-size: calc(2 * #{vars.$mediumSize});
  }
  .#{$prefix}fs-xl {
    font-size: calc(1.5 * #{vars.$mediumSize});
  }
  .#{$prefix}fs-l {
    font-size: calc(1.125 * #{vars.$mediumSize});
  }
  .#{$prefix}fs-m {
    font-size: 1rem;
  }
  .#{$prefix}fs-s {
    font-size: calc(0.75 * #{vars.$mediumSize});
  }
  .#{$prefix}fs-xs {
    font-size: calc(0.625 * #{vars.$mediumSize});
  }
  .#{$prefix}regular {
    font-weight: 400;
  }
  .#{$prefix}normal {
    font-weight: 400;
  }
  .#{$prefix}bold {
    font-weight: 700;
  }
  .#{$prefix}uppercase {
    text-transform: uppercase;
  }
  .#{$prefix}underline {
    text-decoration: underline;
  }
  .#{$prefix}italics {
    font-style: italic;
  }
  .#{$prefix}strike, .#{$prefix}line-through {
    text-decoration: line-through;
  }
  .#{$prefix}text-center {
    text-align: center;
  }
  .#{$prefix}text-right {
    text-align: right;
  }
  .#{$prefix}text-left {
    text-align: left;
  }
}