// Customizable:
$rem: var(--rem);
$widgetPadding: var(--padding);
$border: var(--border);
$primaryColor: var(--color);

:root {
  --rem: 15px;
  --lh: 1.2;
  --padding: 8px;
  --border: 1px solid #aaa;
}

html {
  background-color: #eee;
  font-size: var(--rem);
  line-height: var(--lh);
}

$widgetSize: calc(var(--padding)*2 + var(--rem)*var(--lh));

$xsBreakpoint: 600;
$sBreakpoint: 900;
// 'm' lives here
$lBreakpoint: 1200;
$xlBreakpoint: 1600;



