// Customizable:
$mediumSize: var(--rem);
$smallSize: var(--padding);
$borderSize: var(--border-size);
$border: var(--border);
$borderRadius: var(--border-radius);

//
$themeColor: var(--theme-color);
$themeTextColor: var(--theme-text-color);
$accentColor: var(--accent-color);
$accentTextColor: var(--accent-text-color);

:root {
  --rem: 16px;
  --lh: 1.25;
  --padding: 8px;
  --border-size: 1px;
  --border: #{$borderSize} solid #aaa;
  --border-radius: 2px;
  --theme-color: #rff;
  --theme-text-color: #fff;
  --accent-color: #00f;
  --accent-text-color: #fff;
}

html {
  background-color: #eee;
  font-size: var(--rem);
  line-height: var(--lh);
}

$bigSize: calc(var(--padding)*2 + var(--rem) * var(--lh));
$bigSize_withoutBorder: calc(var(--padding)*2 + var(--rem)*var(--lh) - #{$borderSize}*2);

$smallSize_withoutBorder: calc(#{$smallSize} - #{$borderSize});
$mediumSize_withoutBorder: calc(#{$mediumSize} - #{$borderSize});

$xsBreakpoint: 600;
$sBreakpoint: 900;
// 'm' lives here
$lBreakpoint: 1200;
$xlBreakpoint: 1600;



